0x00-python_variable_annotations/__pycache__/1-concat.cpython-310.pyc
0x00-python_variable_annotations/__pycache__/2-floor.cpython-310.pyc
0x00-python_variable_annotations/__pycache__/3-to_str.cpython-310.pyc
0x00-python_variable_annotations/__pycache__/4-define_variables.cpython-310.pyc
0x00-python_variable_annotations/__pycache__/
0x01-python_async_function/__pycache__/
0x02-python_async_comprehension/__pycache__/
0x03-Unittests_and_integration_tests/__pycache__/
python-generators-0x00/__pycache__/
env/
messaging_app/messaging_app/__pycache__/
messaging_app/chats/migrations/__pycache__/
messaging_app/chats/__pycache__/
messaging_app/db.sqlite3
messaging_app/chats/migrations/0001_initial.py
Django-Middleware-0x03/chats/__pycache__/
Django-Middleware-0x03/chats/management/__pycache__/
Django-Middleware-0x03/chats/migrations/__pycache__/
Django-Middleware-0x03/messaging_app/__pycache__/
