asgiref==3.8.1
Django==5.2.3
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-nested-routers==0.94.2
mysqlclient==2.2.7
PyJWT==2.9.0
sqlparse==0.5.3
typing_extensions==4.14.0
pytest-django==4.5.2
pytest==8.3.2
pytest-cov==5.0.0
flake8==7.0.0
black==24.4.2
isort==5.13.2
gunicorn==21.2.0